// color
$white: white;
$black: black;
$primary: #3E86F5;
$secondary: #7C7C7C;
$background: #E5E5E5;


// text
$regular: 400;
$medium: 500;
$semiBold: 600;

// indent

$padding: 8px;
$margin: 8px;

// Icons 
$sprite_cell: 25px;
$sprite_cols: 8;
$sprite_rows: 1;

$sprite_wd: $sprite_cell * $sprite_cols;
$sprite_ht: $sprite_cell * $sprite_rows;




