@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  line-height: 1;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  /* отображаем курсор в виде руки при наведении; некоторые
  считают, что необходимо оставлять стрелочный вид для кнопок */
  cursor: pointer;
}

body {
  font-family: "Poppins", sans-serif;
  color: white;
}

.wrapper {
  min-height: 100vh;
  background-color: #f7f7f7;
}

.container {
  height: 100%;
  max-width: 1180px;
  margin: auto;
  padding: 0 16px;
}

.container_column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.first-screen {
  height: 100vh;
  background: url("../images/bg.jpg") center/cover;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 80px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .logo {
  font-weight: 500;
  font-size: 48px;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__item {
  text-decoration: none;
  font-weight: 500;
  font-size: 24px;
  color: white;
}

.menu__item:not(:last-child) {
  margin-right: 48px;
}

.menu__item_active {
  background-color: white;
  color: #3e86f5;
  border-radius: 10px;
  padding: 16px 44px;
}

.first-screen__content {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 820px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin: auto;
}

.first-screen__title {
  font-size: 64px;
  font-weight: 600;
  line-height: 96px;
}

.first-screen__subtitle {
  font-size: 24px;
  font-weight: 500;
  font-size: 24px;
  line-height: 48px;
  margin-top: 40px;
}

.search {
  margin-top: -136px;
}

.search__tabs {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 10px 10px 24px 10px;
  background: white;
  border-radius: 25px 25px 0 0;
}

.search__filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background: white;
  padding: 60px 48px;
  border-radius: 0 50px 50px 50px;
}

.search__filters > *:not(:last-child) {
  margin-right: 32px;
}

.search__filters > :nth-child(2) {
  margin-right: 40px;
}

.search__tab {
  cursor: default;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: black;
  padding: 18px 20px;
  border-radius: 25px;
  position: relative;
  overflow: hidden;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
}

.search__tab_active::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #3e86f5;
  opacity: 0.2;
}

.search__tab:first-child {
  margin-right: 17px;
}

.search__tab:not(.search__tab_active) {
  cursor: pointer;
}

.search__tab:not(.search__tab_active):hover {
  background: #ccc;
  -webkit-transition: background .2s ease;
  transition: background .2s ease;
}

.search__tab-img {
  width: 25px;
  height: 25px;
  background: url("../images/sprite.png") left top/cover;
  margin-right: 4px;
}

.search__tab-img_1 {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.search__tab-img_2 {
  background-position-x: -25px;
}

.search__button {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  min-width: 154px;
  min-height: 154px;
  border-radius: 65px;
  overflow: hidden;
  z-index: 0;
  margin-left: auto;
  margin-right: auto;
}

.search__button::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #3e86f5;
  opacity: 0.8;
  z-index: -1;
}

.search__button > div {
  width: 62px;
  height: 62px;
  background: url("../images/sprite.png") top left/cover;
  background-position-x: -248px;
}

.special-block {
  padding: 160px 0;
}

.special-block .tabs {
  margin-bottom: 40px;
}

.about-block {
  padding: 80px 0;
}

.about-block > .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.statistic {
  position: relative;
  height: 800px;
  width: 480px;
  margin-right: 120px;
}

.statistic__img {
  border-radius: 75px;
}

.statistic__badge {
  position: absolute;
  top: 50%;
  left: -87px;
  height: 120px;
  width: 174px;
  border-radius: 35px;
  background: white;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
}

.statistic__badge > strong {
  color: #3e86f5;
  font-size: 36px;
}

.statistic__badge > span {
  color: black;
  font-weight: 300;
  font-size: 18px;
}

.statistic__badge_1 {
  top: 8%;
  right: -91px;
  left: initial;
}

.statistic__badge_3 {
  top: 67%;
  right: -91px;
  left: initial;
}

.description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.description_title {
  margin-bottom: 20px !important;
}

.description__text {
  font-weight: 400;
  font-size: 20px;
  color: #7c7c7c;
  line-height: 200%;
  margin-bottom: 40px;
}

.description__text:first-of-type {
  margin-bottom: 40px;
}

.description__btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-item-align: start;
      align-self: flex-start;
  padding: 23px 34px;
  background: #3e86f5;
  color: white;
  border-radius: 10px;
  font-weight: 300;
  font-size: 20px;
  -webkit-box-shadow: 4px 8px 25px rgba(62, 134, 245, 0.25);
          box-shadow: 4px 8px 25px rgba(62, 134, 245, 0.25);
}

.filter {
  position: relative;
  padding: 44px 22px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.filter::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.4;
  border-radius: 25px;
  border: 2px solid #7c7c7c;
}

.filter > *:not(:last-child) {
  margin-right: 32px;
}

.filter__value {
  font-size: 24px;
}

.filter__item {
  color: black;
  font-weight: 500;
}

.filter_date .filter__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 1;
  margin-bottom: 10px;
}

.filter_date .filter__name > span {
  opacity: 0.5;
}

.filter_date > :not(:last-child) {
  margin-right: 48px;
}

.filter_date .filter__icon::before {
  top: 7px;
  left: 7px;
  background-position-x: -92px;
}

.filter__name {
  font-size: 18px;
  color: black;
  opacity: 0.5;
  margin-bottom: 12px;
}

.filter__name-icon {
  margin-left: 16px;
  width: 25px;
  height: 25px;
  background: url("../images/sprite.png") left top/cover;
}

.filter__name-icon-return {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.filter__icon {
  position: relative;
  min-width: 40px;
  height: 40px;
}

.filter__icon::after, .filter__icon::before {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 40px;
}

.filter__icon::after {
  border: 1px dashed black;
  opacity: 0.3;
}

.filter__icon::before {
  top: 5px;
  left: 5px;
  width: 30px;
  height: 30px;
  background: url("../images/sprite.png") left top/cover;
  background-position-x: -60px;
}

.title {
  font-family: Poppins;
  font-size: 48px;
  font-weight: 600;
  line-height: 72px;
  color: black;
  margin-bottom: 64px;
}

.title_center {
  text-align: center;
}

.tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.tabs__content {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px;
  background: white;
  border-radius: 8px;
  -webkit-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.05);
}

.tabs__item {
  color: #7c7c7c;
  font-weight: 500;
  font-size: 18px;
  border-radius: 8px;
  padding: 12px 24px;
}

.tabs__item:hover {
  -webkit-transition: background 0.2s ease;
  transition: background 0.2s ease;
  background-color: rgba(0, 0, 0, 0.1);
}

.tabs__item_active:hover, .tabs__item_active {
  cursor: default;
  background-color: #3e86f5;
  color: white;
}

.tabs__item:not(:last-child) {
  margin-right: 8px;
}

.special-block__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -12px;
}

.special-block__card .card {
  margin: 10px;
}

.card {
  display: inline-block;
  overflow: hidden;
  background: white;
  border-radius: 50px;
  padding: 22px 13px 25px 27px;
  -webkit-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.05);
}

.card__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

.card__photo {
  border-radius: 50px;
}

.card__date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  white-space: nowrap;
  margin-left: 20px;
  width: 28px;
  font-weight: 500;
  font-size: 18px;
  color: #7c7c7c;
  letter-spacing: 0.5em;
}

.card__date > div {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.card__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 14px 0 19px;
}

.card__bottom > *:not(:last-child) {
  margin-bottom: 8px;
}

.card__params {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  font-weight: 500;
}

.card__badge {
  color: #f178b6;
  background: #fcddec;
  padding: 0 16px;
  margin-right: 16px;
  border-radius: 100px;
  line-height: 21px;
}

.card__duration {
  color: #7c7c7c;
}

.card__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: black;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
}

.card__total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card__price {
  color: #7c7c7c;
  font-weight: 500;
  font-size: 18px;
}

.card__price > strong {
  color: black;
  font-size: 24px;
}

.card__button {
  cursor: pointer;
  font-weight: 500;
  font-size: 14px;
  color: #3e86f5;
  padding: 16px 24px;
  border-radius: 10px;
  background: #f2f6ff;
}
/*# sourceMappingURL=style.css.map */