@import "./var.scss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  line-height: 1;
}

body {
  font-family: "Poppins", sans-serif;
  color: $white;
}

.wrapper {
  min-height: 100vh;
  background-color: $secondary;
  border: 1px solid red;
}

.container {
  height: 100%;
  max-width: 1180px;
  margin: auto;
  padding: 0 $padding * 2;
  &_column {
    display: flex;
    flex-direction: column;
  }
}

.first-screen {
  height: 100vh;
  background: url("../images/bg.jpg") center / cover;
}

.header {
  display: flex;
  min-height: 80px;
  align-items: center;
  justify-content: space-between;

  .logo {
    font-weight: $medium;
    font-size: 48px;
  }
}

.menu {
  display: flex;
  align-items: center;
}

.menu__item {
  text-decoration: none;
  font-weight: $medium;
  font-size: 24px;
  color: $white;

  &:not(:last-child) {
    margin-right: $margin * 6;
  }
}

.menu__item_active {
  background-color: $white;
  color: $primary;
  border-radius: 10px;
  padding: 16px 44px;
}

.first-screen__content {
  flex-grow: 1;
  display: flex;
  width: 820px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  margin: auto;
}

.first-screen__title {
  font-size: 64px;
  font-weight: $semiBold;
  line-height: 96px;
}

.first-screen__subtitle {
  font-size: 24px;
  font-weight: $medium;
  font-size: 24px;
  line-height: 48px;
  margin-top: $margin * 5;
}

.text {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
}

.search {
  border: 1px solid red;
  &__tabs {
    display: inline-flex;
    border: 1px solid red;
    padding: 10px 10px 24px 10px;
    background: $white;
    border-radius: 25px 25px 0 0;
  }

  

  // &__tab::before{
  //   position: absolute;
  //   content: '';
  //   top: 0;
  //   left: 0;
  //   min-width: 25px;
  //   height: 25px;
  //   background: url('../images/airOn.svg') cover;
  //   z-index: 2;
  // }

  // &__tab:first-child{
  //   margin-right: $margin * 2;
  // }

  &__filters {
    background: $white;
    padding: 60px 48px;
    border-radius: 0 50px 50px 50px;
  }
}

.search__tab {
  display: flex;
  align-items: center;
  color: $black;
  padding: 18px 20px;
  border-radius:25px;
  position: relative;
  overflow: hidden;

  &::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: $primary;
    opacity: .2;
  }
  &:first-child{
    margin-right: 17px;
  }
  &-img{
    width: 25px;
    height: 25px;
    background: url('../images/airOn.svg') center / cover;
    margin-right: 4px;
  }
}
