@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  line-height: 1;
}

body {
  font-family: "Poppins", sans-serif;
  color: white;
}

.wrapper {
  min-height: 100vh;
  background-color: #7C7C7C;
  border: 1px solid red;
}

.container {
  height: 100%;
  max-width: 1180px;
  margin: auto;
  padding: 0 16px;
}

.container_column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.first-screen {
  height: 100vh;
  background: url("../images/bg.jpg") center/cover;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 80px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .logo {
  font-weight: 500;
  font-size: 48px;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__item {
  text-decoration: none;
  font-weight: 500;
  font-size: 24px;
  color: white;
}

.menu__item:not(:last-child) {
  margin-right: 48px;
}

.menu__item_active {
  background-color: white;
  color: #3E86F5;
  border-radius: 10px;
  padding: 16px 44px;
}

.first-screen__content {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 820px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin: auto;
}

.first-screen__title {
  font-size: 64px;
  font-weight: 600;
  line-height: 96px;
}

.first-screen__subtitle {
  font-size: 24px;
  font-weight: 500;
  font-size: 24px;
  line-height: 48px;
  margin-top: 40px;
}

.text {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
}

.search {
  border: 1px solid red;
}

.search__tabs {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border: 1px solid red;
  padding: 10px 10px 24px 10px;
  background: white;
  border-radius: 25px 25px 0 0;
}

.search__filters {
  background: white;
  padding: 60px 48px;
  border-radius: 0 50px 50px 50px;
}

.search__tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: black;
  padding: 18px 20px;
  border-radius: 25px;
  position: relative;
  overflow: hidden;
}

.search__tab::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #3E86F5;
  opacity: .2;
}

.search__tab:first-child {
  margin-right: 17px;
}

.search__tab-img {
  width: 25px;
  height: 25px;
  background: url("../images/airOn.svg") center/cover;
  margin-right: 4px;
}
/*# sourceMappingURL=style.css.map */