@import "./var.scss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  line-height: 1;
}

body {
  font-family: "Poppins", sans-serif;
  color: $white;
}

// Layout
.wrapper {
  min-height: 100vh;
  background-color: $secondary;
}

.container {
  height: 100%;
  max-width: 1180px;
  margin: auto;
  padding: 0 $padding * 2;
  &_column {
    display: flex;
    flex-direction: column;
  }
}

// Main

.first-screen {
  height: 100vh;
  background: url("../images/bg.jpg") center / cover;
}

.header {
  display: flex;
  min-height: 80px;
  align-items: center;
  justify-content: space-between;

  .logo {
    font-weight: $medium;
    font-size: 48px;
  }
}

.menu {
  display: flex;
  align-items: center;
}

.menu__item {
  text-decoration: none;
  font-weight: $medium;
  font-size: 24px;
  color: $white;

  &:not(:last-child) {
    margin-right: $margin * 6;
  }
}

.menu__item_active {
  background-color: $white;
  color: $primary;
  border-radius: 10px;
  padding: 16px 44px;
}

.first-screen__content {
  flex-grow: 1;
  display: flex;
  width: 820px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  margin: auto;
}

.first-screen__title {
  font-size: 64px;
  font-weight: $semiBold;
  line-height: 96px;
}

.first-screen__subtitle {
  font-size: 24px;
  font-weight: $medium;
  font-size: 24px;
  line-height: 48px;
  margin-top: $margin * 5;
}

// Search-block

.search {
  margin-top: $margin * -17;
  &__tabs {
    display: inline-flex;
    padding: 10px 10px 24px 10px;
    background: $white;
    border-radius: 25px 25px 0 0;
  }

  &__filters {
    display: flex;
    background: $white;
    padding: 60px 48px;
    border-radius: 0 50px 50px 50px;
  }

  &__filters > *:not(:last-child) {
    margin-right: $margin * 4;
  }

  &__filters > :nth-child(2) {
    margin-right: $margin * 5;
  }
}

.search__tab {
  cursor: default;
  display: flex;
  align-items: center;
  color: $black;
  padding: 18px 20px;
  border-radius: 25px;
  position: relative;
  overflow: hidden;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;

  &_active::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: $primary;
    opacity: 0.2;
  }

  &:first-child {
    margin-right: 17px;
  }

  &:not(.search__tab_active) {
    cursor: pointer;
  }

  &-img {
    width: $sprite-cell;
    height: $sprite-cell;
    background: url("../images/sprite.png") left top / cover;
    margin-right: 4px;
  }

  &-img_1 {
    transform: rotate(-45deg);
  }

  &-img_2 {
    background-position-x: $sprite-cell * (-1);
  }
}

.search__button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  min-width: 154px;
  min-height: 154px;
  border-radius: 65px;
  overflow: hidden;
  z-index: 0;
  margin-left: auto;
  margin-right: auto;

  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $primary;
    opacity: 0.8;
    z-index: -1;
  }

  & > div {
    $sprite_cell: 62px;
    width: $sprite_cell;
    height: $sprite_cell;
    background: url("../images/sprite.png") top left / cover;
    background-position-x: $sprite_cell * -4;
  }
}

// Filter-block

.filter {
  position: relative;
  padding: 44px 22px;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;

  &::before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.4;
    border-radius: 25px;
    border: 2px solid $secondary;
  }

  & > *:not(:last-child) {
    margin-right: $margin * 4;
  }

  &__value {
    font-size: 24px;
  }

  &__item {
    color: $black;
    font-weight: 500;
  }
}

.filter_date {
  .filter__name {
    display: flex;
    align-items: center;
    opacity: 1;
    margin-bottom: 10px;
    & > span {
      opacity: 0.5;
    }
  }

  & > :not(:last-child) {
    margin-right: 48px;
  }

  .filter__icon::before {
    $sprite_cell: 23px;
    top: 7px;
    left: 7px;
    background-position-x: $sprite-cell * (-4);
  }
}

.filter__name {
  font-size: 18px;
  color: $black;
  opacity: 0.5;
  margin-bottom: $margin * 1.5;

  &-icon {
    $sprite_cell: 25px;
    margin-left: $margin * 2;
    width: $sprite_cell;
    height: $sprite_cell;
    background: url("../images/sprite.png") left top / cover;
  }

  &-icon-return {
    transform: rotate(180deg);
  }
}

.filter__icon {
  $sprite-cell: 40px;
  position: relative;
  min-width: $sprite-cell;
  height: $sprite-cell;

  &::after,
  &::before {
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: $sprite-cell;
  }

  &::after {
    border: 1px dashed $black;
    opacity: 0.3;
  }

  &::before {
    $sprite-cell: 30px;
    top: 5px;
    left: 5px;
    width: $sprite-cell;
    height: $sprite-cell;
    background: url("../images/sprite.png") left top / cover;
    background-position-x: $sprite-cell * (-2);
  }
  
}
