@import "./var.scss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  line-height: 1;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

a {
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  color: $white;
}

body>* {
  transition: all .3s ease-in-out;
}

// Layout
.wrapper {
  min-height: 100vh;
  background-color: $background;
}

.container {
  height: 100%;
  max-width: 1180px;
  margin: auto;
  padding: 0 $padding * 2;

  &_column {
    display: flex;
    flex-direction: column;
  }
}

// First-screen

.first-screen {
  position: relative;
  height: 100vh;
  background: url("../images/bg.jpg") center / cover;

  &>* {
    position: relative;
    z-index: 0;
  }
}

.header {
  display: flex;
  min-height: 80px;
  align-items: center;
  justify-content: space-between;

  .logo {
    font-weight: $medium;
    font-size: 48px;
  }
}

.menu {
  display: flex;
  align-items: center;
}

.menu__item {
  text-decoration: none;
  font-weight: $medium;
  font-size: 24px;
  color: $white;

  &:not(:last-child) {
    margin-right: $margin * 6;
  }
}

.menu__item_active {
  background-color: $white;
  color: $primary;
  border-radius: 10px;
  padding: $margin * 2 $margin * 5;
}

.first-screen__content {
  flex-grow: 1;
  display: flex;
  max-width: 820px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: auto;

}

.first-screen__title {
  font-size: 64px;
  font-weight: $semiBold;
  line-height: 96px;
}

.first-screen__subtitle {
  font-size: 24px;
  font-weight: $medium;
  font-size: 24px;
  line-height: 48px;
  margin-top: $margin * 5;
}

// Search-block

.search {
  position: relative;
  margin-top: $margin * -17;
  overflow-x: hidden;

  &__tabs {
    display: inline-flex;
    padding: $margin $margin $margin * 3 $margin;
    background: $white;
    border-radius: 25px 25px 0 0;
  }

  &__filters {
    display: flex;
    flex-wrap: wrap;
    background: $white;
    padding: $margin * 8 $margin * 6;
    border-radius: 0 50px 50px 50px;
  }

  &__filters>*:not(:last-child) {
    margin-right: $margin * 4;
  }

  &__filters> :nth-child(2) {
    margin-right: $margin * 5;
  }

  &__filters *:not(:last-child) {
    transition: all .3s ease-in-out;
  }
}

.search__tab {
  cursor: default;
  display: flex;
  align-items: center;
  color: $black;
  padding: $margin * 2 $margin * 1.5;
  border-radius: 25px;
  position: relative;
  overflow: hidden;

  &_active::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: $primary;
    opacity: 0.2;
  }

  &:first-child {
    margin-right: $margin * 2;
  }

  &:not(.search__tab_active) {
    cursor: pointer;

    &:hover {
      background: #ccc;
      transition: background .2s ease;
    }
  }

  &-img {
    --size: 25px;
    width: var(--size);
    height: var(--size);
    background: url("../images/sprite.png") left top / calc(var(--size) * 8) calc(var(--size) * 1);
    margin-right: $margin * 0.5;
  }

  &-img_1 {
    transform: rotate(-45deg);
  }

  &-img_2 {
    --size: 25px;
    background-position-x: calc(var(--size) * (-1));
  }

  &-text {
    font-weight: 500;
    font-size: 18px;
  }
}


.search__button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  min-width: 154px;
  min-height: 154px;
  border-radius: 65px;
  overflow: hidden;
  z-index: 0;
  margin: 0 auto;

  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $primary;
    opacity: 0.8;
    z-index: -1;
  }

  &>div {
    $sprite_cell: 62px;
    width: $sprite_cell;
    height: $sprite_cell;
    background: url("../images/sprite.png") top left / cover;
    background-position-x: $sprite_cell * -4;
  }
}

// Special Block
.special-block {
  padding: $margin * 20 0;

  & .tabs {
    margin-bottom: $margin * 5;
  }
}

// About-block

.about-block {
  overflow-x: hidden;
  padding: $margin * 10 0;

  .container {
    display: flex;
    flex-wrap: wrap;
  }

  &>.container {
    display: flex;
    align-items: center;
  }
}

.statistic {
  position: relative;
  height: 800px;
  width: 480px;
  margin-right: $margin * 15;
  // .statistic__img

  &__img {
    border-radius: 75px;

  }

  // .statistic__badge


  &__badge {
    position: absolute;
    top: 50%;
    left: -87px;
    height: 120px;
    width: 174px;
    border-radius: 35px;
    background: $white;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
    text-transform: uppercase;

    &>strong {
      color: $primary;
      font-size: 36px;
    }

    &>span {
      color: $black;
      font-weight: 300;
      font-size: 18px;
    }

    &_1 {
      top: 8%;
      right: -91px;
      left: initial;
    }

    &_3 {
      top: 67%;
      right: -91px;
      left: initial;
    }
  }
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: center;


  // .description__text
  &_title {
    margin-bottom: $margin * 2.5 !important;
  }

  &__text {
    font-weight: 400;
    font-size: 20px;
    color: $secondary;
    line-height: 200%;
    margin-bottom: 40px;

    &:first-of-type {
      margin-bottom: 40px;
    }
  }
}

// destination 

.destination-block {
  padding: $margin * 15 0;

  & .tabs {
    margin-bottom: $margin * 10;
  }

  &__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 -10px;
  }
}

// review
.reviews-block {
  padding: 211px 0 56px;
  overflow-x: hidden;

  // .review-block__cards
  &__cards {
    display: flex;

    margin: 0 -10px;
  }

  // .review-block__actions
  &__actions {
    display: flex;
    justify-content: center;
    color: $black;
    margin-top: $margin * 12;
  }

  &__prev {
    margin-right: $margin * 2.5;
  }

  &__prev,
  &__next {
    cursor: pointer;
    position: relative;
    $arrow-size: 40px;
    width: $arrow-size;
    height: $arrow-size;
    border-radius: 15px;
    border: 2px solid rgba(62, 134, 245, 0.5);
  }

  &__prev::after {
    position: absolute;
    content: '';
    top: 17px;
    left: 15px;
    width: 3px;
    height: 15px;
    background: $primary;
    transform: rotate(-45deg);
  }

  &__prev::before {
    position: absolute;
    content: '';
    top: 8px;
    left: 15px;
    width: 3px;
    height: 15px;
    background: $primary;
    transform: rotate(45deg);
  }

  &__next::after {
    position: absolute;
    content: '';
    top: 17px;
    left: 19px;
    width: 3px;
    height: 15px;
    background: $primary;
    transform: rotate(45deg);
  }

  &__next::before {
    position: absolute;
    content: '';
    top: 8px;
    left: 19px;
    width: 3px;
    height: 15px;
    background: $primary;
    transform: rotate(-45deg);
  }


}

//registred-block
.registred-block {
  overflow-x: hidden;
  padding: $margin * 10 0 $margin * 15;

  .button_light {
    border-radius: 25px;
  }

  &__content {
    text-align: center;
    overflow: hidden;
    padding: $margin * 15 $margin * 27;
    background: url('../images/registred.jpg') center / cover;
    border-radius: 100px;

    .title {
      color: $white !important;
    }
  }
}

//footer
.footer {
  padding-bottom: $margin * 10;

  &>.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  &__copyright {
    font-weight: 500;
    font-size: 20px;
    color: $black;
    opacity: 0.5;
  }

  &__menu {
    display: flex;
    font-weight: 500;
    font-size: 24px;

    a {
      color: $black;
    }

    &>:not(:last-child) {
      margin-right: $margin * 5;
    }
  }
}



//-->Elements<--//

// Filter-block
.filter {
  position: relative;
  padding: $margin * 5.5 $margin * 2.8;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;

  &::before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.4;
    border-radius: 25px;
    border: 2px solid $secondary;
  }

  &>*:not(:last-child) {
    margin-right: $margin * 4;
  }

  &__value {
    font-size: 24px;
  }

  &__item {
    color: $black;
    font-weight: 500;
  }

  &_date {
    .filter__name {
      display: flex;
      align-items: center;
      opacity: 1;
      margin-bottom: $margin * 1.2;

      &>span {
        opacity: 0.5;
      }
    }

    &> :not(:last-child) {
      margin-right: $margin * 6;
    }

    .filter__icon::before {
      --size: 30px;
      top: 5px;
      left: 6px;
      background-position-x: calc(var(--size) * (-3));
    }
  }

  &__name {
    font-size: 18px;
    color: $black;
    opacity: 0.5;
    margin-bottom: $margin * 1.5;

    &-icon {
      --size: 25px;
      margin-left: $margin * 2;
      width: var(--size);
      height: var(--size);
      background: url("../images/sprite.png") left top / calc(var(--size) * 8) calc(var(--size) * 1);
    }

    &-icon-return {
      transform: rotate(180deg);
    }
  }

  &__icon {
    --size: 40px;
    position: relative;
    min-width: var(--size);
    height: var(--size);

    &::after,
    &::before {
      position: absolute;
      content: "";
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      border-radius: $sprite-cell;
    }

    &::after {
      border: 1px dashed $black;
      opacity: 0.3;
    }

    &::before {
      --size: 30px;
      top: 5px;
      left: 5px;
      width: var(--size);
      height: var(--size);
      background: url("../images/sprite.png") left top / calc(var(--size) * 8) calc(var(--size) * 1);
      background-position-x: calc(var(--size) * (-2));
    }
  }
}



.filter__name {
  font-size: 18px;
  color: $black;
  opacity: 0.5;
  margin-bottom: $margin * 1.5;

  &-icon {
    --size: 25px;
    margin-left: $margin * 2;
    width: var(--size);
    height: var(--size);
    background: url("../images/sprite.png") left top / calc(var(--size) * 8) calc(var(--size) * 1);
  }

  .icon_return {
    transform: rotate(180deg);
  }
}



//Title
.title {
  font-family: Poppins;
  font-size: 48px;
  font-weight: $semiBold;
  line-height: 72px;
  color: $black;
  margin-bottom: $margin * 8;

  &_center {
    text-align: center;
  }
}

// Tabs
.tabs {
  display: flex;
  justify-content: center;

  &_opacity {
    .tabs__content {
      background: transparent;
      box-shadow: none;
    }

    .tabs__item {
      font-weight: 600;
      font-size: 18px;
      color: $secondary;
      padding: $margin * 1.7 $margin * 2.9;
    }

    .tabs__item_active,
    .tabs__item_active:hover {
      background-color: $white;
      color: $primary;
    }
  }

  &__content {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: $padding;
    background: $white;
    border-radius: $padding;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.05);
  }

  &__item {
    color: $secondary;
    font-weight: 500;
    font-size: 18px;
    border-radius: $padding;
    padding: $padding * 1.5 $padding * 3;

    &:hover {
      transition: background 0.2s ease;
      background-color: rgba(0, 0, 0, 0.1);
    }

    &_active:hover,
    &_active {
      cursor: default;
      background-color: $primary;
      color: $white;
    }

    &:not(:last-child) {
      margin-right: $padding;
    }
  }
}

//rating 

.rating {
  background: $white;
  display: flex;
  align-items: center;
  border-radius: 25px;
  padding: 1px $margin * 1.2;

  &__icon {
    $sprite_cell: 15px;
    margin-right: 2px;
    width: $sprite_cell;
    height: $sprite_cell;
    background: url("../images/sprite.png") left top / ($sprite_cell * $sprite_cols) ($sprite_cell * $sprite_rows);
    background-position-x: $sprite-cell * (-5);
  }

  &__text {
    color: $black;
    font-weight: 500;
    font-size: 12px;
  }
}

// Card
.special-block__card {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  margin: 0 -$margin*1.5;

  & .card {
    margin: $margin*1.2;
  }
}

.card {
  display: inline-block;
  overflow: hidden;
  background: $white;
  border-radius: 50px;
  padding: $margin * 2.7 $margin * 1.6 $margin * 3.1 $margin * 3.4;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.05);

  &_destination {
    max-width: 280px;
    padding: $margin * 1.2;
    border-radius: 25px;
    margin: $margin;
    position: relative;

    .card__rating {
      $position: 24px;
      position: absolute;
      top: $position;
      right: $position;
    }

    .card__photo {
      border-radius: 25px;
    }

    .card__bottom {
      margin: 0 $margin * 2.5;
    }

    .card__title {
      font-size: 18px;
      line-height: 27px;
      margin-bottom: 0;
    }

    .card__address {
      display: flex;
      align-items: center;
    }

    .card__mark {
      $sprite_cell: 18px;
      width: $sprite_cell;
      height: $sprite_cell;
      background: url("../images/sprite.png") left top / ($sprite_cell * $sprite_cols) ($sprite_cell * $sprite_rows);
      background-position-x: $sprite-cell * (-6);
    }

    .card__country {
      font-weight: 500;
      font-size: 14px;
      color: $black;
      opacity: 0.5;
    }
  }

  // .card__top

  &__top {
    display: flex;
    margin-bottom: $margin * 2.5;
  }

  // .card__photo

  &__photo {
    border-radius: 50px;
  }

  // .card__date

  &__date {
    $fontSize: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;

    margin-left: 20px;

    width: 28px;
    font-weight: 500;
    font-size: 18px;
    color: $secondary;
    letter-spacing: 0.5em;

    &>div {
      transform: rotate(90deg);
    }

    // line-height: 27px;
  }

  // .card__bottom

  &__bottom {
    display: flex;
    flex-direction: column;
    margin: 0 $margin * 1.8 0 $margin * 2.4;

    &>*:not(:last-child) {
      margin-bottom: $margin;
    }
  }

  // .card__params

  &__params {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
  }

  // .card__badge

  &__badge {
    color: #f178b6;
    background: #fcddec;
    padding: 0 $padding * 2;
    margin-right: $margin * 2;
    border-radius: 100px;
    line-height: 21px;

    &_purple {
      color: #7879F1;
      background: #e8e0ff;
    }
  }

  // .card__duration

  &__duration {
    color: $secondary;
  }

  // .card__title

  &__title {
    display: flex;
    color: $black;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
  }

  // .card__total

  &__total {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  // .card__price

  &__price {
    color: $secondary;
    font-weight: 500;
    font-size: 18px;

    &>strong {
      color: $black;
      font-size: 24px;
    }
  }

  // .card__button

  &__button {
    cursor: pointer;
    font-weight: 500;
    font-size: 14px;
    color: $primary;
    padding: $padding * 2 $padding * 3;
    border-radius: 10px;
    background: #f2f6ff;
  }
}

//review

.review {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 580px;
  margin-bottom: $margin * 7;
  text-align: center;
  background: $white;
  border-radius: 50px;
  margin: 0 $margin * 1.2;

  &>* {
    line-height: 42px;
    font-weight: 500;
    font-size: 20px;
  }

  &__quote {
    position: relative;
    width: 131px;
    height: 103px;
    background: url('../images/quote.png');
    margin-top: $margin * 4.6;
  }

  &__text {
    color: $black;
    margin-top: -50px;
    margin-bottom: $margin * 1.2;
  }

  &__name {
    color: $primary;
    text-decoration: none;
  }

  &__nickname {
    color: $black;
    opacity: 0.5;
    margin-bottom: $margin * -6.8;
  }

  &__avatar {
    position: relative;
    top: 55px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: $white;
    padding: $margin * 3 $margin * 5 $margin * 1.2;
  }

  &__photo {
    position: relative;
    border-radius: 50%;
  }

  &__rating {
    position: absolute;
    right: 30px;
    top: 35px;
    width: 45px;
    padding: 0;
  }
}

//button

.button {
  display: inline-flex;
  align-self: flex-start;
  padding: $margin * 3.1 $margin * 4.3;
  background: $primary;
  color: $white;
  border-radius: 10px;
  font-weight: 300;
  font-size: 20px;
  box-shadow: 4px 8px 25px rgba(62, 134, 245, 0.25);
}

.button_light {
  font-weight: 500;
  color: $primary;
  background: $white;
  box-shadow: none;
}




//adaptive layout

//desktop

@media screen and (max-width: 1200px) {
  /*  first-screen  */
  .first-screen__content {
    justify-content: flex-start;
    padding-top: $margin * 8;
  }

  .first-screen__title {
    font-size: 56px;
    line-height: 1.4em;
  }

  .first-screen__subtitle {
    font-size: 22px;
    line-height: 1.8em;
    margin-top: $margin * 3;
  }
  /*  search-filters  */
  .search__filters {
    padding: 2vw;
    align-items: center;
  }

  .filter {
    padding: 2.5vw 2vw;
  }

  .filter>*:not(:last-child) {
    margin-right: 1em;
  }

  .filter_date> :not(:last-child) {
    margin-right: 1em;
  }

  .search__filters>*:not(:last-child) {
    flex-grow: 1;
    margin-right: 1em;
  }

  .filter__name {
    font-size: 1em;
    height: 13px;
  }

  .filter__value {
    font-size: 1.3em;
  }

  .filter__icon {
    --size: 3.3vw;
    min-width: var(--size);
    height: var(--size);
  }

  .filter__icon::before {
    --size: 2.5vw;
    top: 0.4vw;
    left: 0.4vw;
    width: var(--size);
    height: var(--size);
    background: url("../images/sprite.png") left top / calc(var(--size) * 8) calc(var(--size) * 1);
    background-position-x: calc(var(--size) * (-2));
  }

  .filter_date .filter__icon::before {
    --size: 2.5vw;
    top: 0.4vw;
    left: 0.5vw;
    width: var(--size);
    height: var(--size);
    background: url("../images/sprite.png") left top / calc(var(--size) * 8) calc(var(--size) * 1);
    background-position-x: calc(var(--size) * (-3));
  }

  .search__button {
    --size: 9vw;
    min-width: var(--size);
    min-height: var(--size);
    margin: initial;
  }

  .search__button>div {
    --size: 4.5vw;
    width: var(--size);
    height: var(--size);
    background: url(../images/sprite.png) left top / calc(var(--size) * 8) calc(var(--size) * 1);
    background-position-x: calc(var(--size) * 4);
  }

  .filter__name-icon {
    --size: 3vw;
    width: var(--size);
    height: var(--size);
  }

  .search__tab-text {
    font-size: 15px;
  }

  .search__tabs {
    padding: 1vw;
    padding-bottom: 0;
  }
}

//notebook

@media screen and (max-width: 992px) {
  /* first-screen */
  .menu__item {
    font-size: 22px;
  }

  .menu__item:not(:last-child) {
    margin-right: 27px;
  }

  .menu__item_active {
    padding: 1.6vw 3vw;
    border-radius: 1vw;
  }

  .header .logo {
    font-size: 40px;
  }
  .fitst-screen__subtitle {
    font-size: 2.6vw;
    line-height: 1.8em;
    margin-top: $margin * 3;
  }
  /*  search-filters  */
  .search {
    margin-top: 0px;
  }

  .search-block {
    padding-top: $margin * 2;
  }
  .search__tab {
    padding: 1.2vw 2vw;
  }

  .search__tab:first-child {
    margin-right: 1vw;
  }
}

//tablet

@media screen and (max-width: 768px) {
  /* first-screen */
  .header {
    flex-direction: column;
    padding-top: $margin * 2;
  }

  .header .logo {
    font-size: 6vw;
    margin-bottom: 0.6vw;
  }

  .menu__item {
    font-size: 3vw;
  }

  .first-screen__content {
    padding-top: $margin * 4;
    justify-content: flex-start;
  }
}

@media screen and (max-width: 576px) {
  


}

//small devices

@media screen and (max-width: 480px) {
  /* first-screen */
  .first-screen {
    padding-bottom: 1.7em;
  }

  .first-screen__subtitle {
    margin-top: 1.2em;
  }

  .first-screen__content {
    padding-top: 1.3em;
  }

  /* search-filters */
  .tabs__item {
    font-size: 14px;
  }

  /* destination */
  .destination-block {
    .title {
      font-size: 38px;
    }
  }

  /* special-block */
  .tabs_opacity .tabs__item {
    padding: 13.6px 0.7em;
  }

  /* footer */
  .footer__menu {
    font-size: 1em;
  }
}